# Elastic Beanstalk Files
.elasticbeanstalk

# .aws directory
.aws

# Database password file
src/databasePassword.txt

# Database odb connection file
Docmentation/database-connection.odb

# Data directories
Data

# Jetbrains directory
.idea

# pycache directories
**__pycache__**

# Virtual environment
venv