**.zip
lib64
lib
bin
**lock**
**__pycache__**
# Elastic Beanstalk Files
**.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
**.yml

# .aws directory
**.aws**

# Database password file
**databasePassword.txt